@charset "UTF-8"


nav a{
    text-decoration: none;
    list-style-type: none;
}

nav.Horizontal ul li a:hover{
    color: white;
}
nav.Horizontal ul li a:active{
    color: aqua;
}
footer ul li a{
list-style-type: none;
text-decoration: none; 
}
figure img{
 float: right;
 width: 10%;
}
